.blog-header {
    // padding-top: $nav-height;
    height: 40vh;
    background-image: url("../images/win_mat_ibjjf.webp");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    // background-attachment: fixed;

    .blog-header-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        background-color: rgba(0, 0, 0, 0.7);

        .blog-header-h1 {
            padding: $fame-width;
            font-size: 4vh;
            color: white;
            text-align: center;
        }
    }
}

.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;

    .blog-wrappper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        max-width: 192rem;
        height: 100%;
        // background-color: #755858;

        .blog-card {
            width: 320px;
            height: auto;
            // box-shadow: 0 0 .3rem .1rem rgb(218, 218, 218);
            border: .1rem solid rgba(0, 0, 0, 0.247);
            border-radius: .5rem;
            margin: 3rem;

            .b-img-wrap {
                // display: flex;
                // justify-content: center;
                // align-items: center;
                width: 320px;
                height: 200px;
                overflow: hidden;
                border-top-left-radius: .5rem;
                border-top-right-radius: .5rem;
                // background-color: red;



                img {
                    // box-shadow: inset 0 0 1rem .1rem rgb(201, 31, 31);
                    width: 100%;
                }
            }

            .blog-content {
                width: 100%;
                padding: 1rem;

                .blog-txt {
                    margin: 1rem 0;
                    border-bottom: .1rem solid rgba(0, 0, 0, 0.1);

                    h1 {
                        font-size: 3vh;
                    }

                    p {
                        font-size: 2vh;
                        font-weight: 100;
                        margin-bottom: 2rem;
                    }
                }

                .btn {

                    width: 100%;
                    height: auto;
                    margin: 3rem 0 3rem;

                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                        padding: 1rem 2rem;
                        background-color: black;
                        color: white;
                        text-decoration: none;
                        font-size: 1.6vh;
                        text-align: center;
                    }
                }

            }


        }
    }
}

@media screen and (min-width: 1200px) {
    .blog-header {
        .blog-header-wrap {
            .blog-header-h1 {
                padding: $fame-width-screen;
                font-size: 5vh;

            }
        }
    }
}