* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// font-family: "Antonio",sans-serif;
// font-family: "Anton", sans-serif;

html {
    font-size: 10px;
    font-family: "Antonio", sans-serif;

}

body::-webkit-scrollbar {
    display: none;
}

.active-menu-body {
    overflow: hidden;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    padding: 4rem;
    animation: intro-hide 2s 8s ease-in-out 1 both;

    .intro-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        animation: intro-in-out 8s ease-in-out 1 both;

    }

    .intro-bg:nth-child(odd) {
        background-color: black;
    }

    .intro-bg:nth-child(1) {
        animation-delay: .2s;
    }

    .intro-bg:nth-child(2) {
        animation-delay: .3s;
    }

    .intro-bg:nth-child(3) {
        animation-delay: .4s;
    }

    .intro-bg:nth-child(4) {
        animation-delay: .5s;
    }

    .intro-bg:nth-child(5) {
        animation-delay: .6s;
    }



    .intro-text {
        position: relative;
        color: rgb(255, 255, 255);
        font-size: 5vh;

    }
}

@keyframes intro-in-out {
    0% {
        transform: translateY(100%);
    }

    10% {
        transform: translateY(0);
    }

    80% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

@keyframes intro-hide {
    0% {
        top: 0;
        opacity: 1;
    }



    45% {
        opacity: 1;
    }

    85% {
        opacity: 0;
        top: 0;
    }

    90% {
        opacity: 0;
        top: -100vh;

    }

    100% {
        opacity: 0;
        top: -100vh;
        display: none;
    }
}